<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Teko&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/27f832f48b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="container">
        <section class="content-header">
            <section class="content-logo_buscador content">
                <div class="content-buscador">
                    <a href="/"> <img src="imagenes/logo-mercado-liebre.svg" class= "logo content" alt=""></a>
            
                    <form class="form-buscador content">
                        <input type="text" placeholder="Buscar productos, marcas" class="buscador">
                        <button class="button-buscar"><i class='bx bx-search-alt-2'></i></button>
                    </form> 
                </div>
                <p class="cuotas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </section>
        </section>
        
        <div class="menu-bar">
            <button><i class="fas fa-bars"></i></button>
        </div>
        <nav>
            <div class="container-menu">
                <ul class="menu">
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>

                <ul class="menu-user">
                    <li> <a href="/register">Crea tu cuenta</a><i class="fas fa-portrait"></i></li>
                    <li> <a href="/login">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                    <li>Mis compras <i class="fas fa-shopping-bag"></i></li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="banner">
        <img src="imagenes/img-home-banner.jpg" alt="">
    </section>
    <section class="contenido-prod">

        <div class="ultima-visita">
           <h2>Basado en tu ultima visita</h2> 
        </div>
        <section class="content-product">     
             
            <section class="container-products">
                <div class="products">
                    <img src="imagenes/img-cafetera-moulinex.jpg" alt="">
                    <div class="truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="detail-prod">
                        <div class="info-product">
                            <span>$6.770</span>
                            <h5>40% off</h5>
                        </div>
                        <p class="product-name">Cafetera Moulinex</p>
                    </div>
                </div>
                <div class="products">
                    <img src="imagenes/img-macbook-pro-2019.jpg" alt="">
                    <div class="truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="info-product">
                        <span>$230.000</span>
                        <h5>20% off</h5>
                    </div>
                    <p class="product-name">Macbook Pro 2019</p>
                </div>
                <div class="products">
                    <img src="imagenes/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="truck">
                        <i class="fas fa-truck"></i>
                    </div>

                    <div class="detail-prod">
                        <div class="info-product">
                            <span>$70.500</span>
                            <h5>10% off</h5>
                        </div>
                        <p class="product-name">Teléfono Samsung</p>
                    </div>
                </div>
                <div class="products">
                    <img src="imagenes/img-tv-samsung-smart.jpg" alt="">
                    <div class="truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="detail-prod">
                        <div class="info-product">
                            <span>$23.200</span>
                            <h5>5% off</h5>
                        </div>
                        <p class="product-name">Samsung 43'</p>
                    </div>
                </div>
            </section>
        </section>
    
        <section>

            <h2 class="ofertas">Ofertas</h2> 
    
            <section class="content-product">

                <section class= "container-products">
                    <div class="products">
                        <img src="imagenes/img-cafetera-moulinex.jpg" alt="">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
    
                        <div class="detail-prod">
                            <div class="info-product">
                                <span>$6.770</span>
                                <h5>40% off</h5>
                            </div>
                            <p class="product-name">Cafetera Moulinex</p>
                        </div>
                       
                    </div>
                    <div class="products">
                        <img src="imagenes/img-macbook-pro-2019.jpg" alt="">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="detail-prod">
                            <div class="info-product">
                                <span>$230.000</span>
                                <h5>20% off</h5>
                            </div>
                            <p class="product-name">Macbook Pro 2019</p>
                        </div>
                    </div>
                    <div class="products">
                        <img src="imagenes/img-samsung-galaxy-s10.jpg" alt="">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
    
                        <div class="detail-prod">
                            <div class="info-product">
                                <span>$70.500</span>
                                <h5>10% off</h5>
                            </div>
                            <p class="product-name">Teléfono Samsung</p>
                        </div>
                    </div>
                    <div class="products">
                        <img src="imagenes/img-tv-samsung-smart.jpg" alt="">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
    
                        <div class="detail-prod">
                            <div class="info-product">
                                <span>$23.200</span>
                                <h5>5% off</h5>
                            </div>
                            <p class="product-name">Samsung 43'</p>
                        </div>
                </section>
               
                
            </section>
        </section>
    </section>


    <footer class="content-footer">
        <div class="informacion">
            <div class="info-content">
                <i class="fas fa-credit-card icon-footer"></i>
                <p> <strong>Pagá con tarjeta o en efectivo</strong>  <br>
                    Con Mercado Liebre Cash, tenés cuotas sin
                     interés con tarjeta o efectivo en puntos de 
                     pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="info-content">
                <i class="fas fa-gift icon-footer"></i>
                <p> <strong>Envío gratis desde $ 2.500</strong>  <br>
                    Solo por estar registrad@ en Mercado Liebre
                    tenés envíos gratis en miles de productos. Es 
                    un beneficio de Mercado Puntos.</p>
            </div>
            <div class="info-content">
                <i class="fas fa-user-shield icon-footer"></i>
                <p> <strong>Seguridad, de principio a fin</strong> <br>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, 
                     no hay nada que no puedas hacer,porque 
                     estás siempre protegid@.</p>
            </div>
        </div>

        <p class="info-content copy"> <strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
    </footer>
    
    
</body>
</html>