<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Teko&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/27f832f48b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Login</title>
</head>
<body>
    <header class="container">
        <section class="content-header">
            <section class="content-logo_buscador content">
                <div class="content-buscador">
                    <a href="/"> <img src="imagenes/logo-mercado-liebre.svg" class= "logo content" alt=""></a>
            
                    <form class="form-buscador content">
                        <input type="text" placeholder="Buscar productos, marcas" class="buscador">
                        <button class="button-buscar"><i class='bx bx-search-alt-2'></i></button>
                    </form> 
                </div>
                <p class="cuotas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </section>
        </section>
        
        <div class="menu-bar">
            <button><i class="fas fa-bars"></i></button>
        </div>
        <nav>
            <div class="container-menu">
                <ul class="menu">
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>

                <ul class="menu-user">
                    <li> <a href="/register">Crea tu cuenta</a><i class="fas fa-portrait"></i></li>
                    <li> <a href="/login">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                    <li>Mis compras <i class="fas fa-shopping-bag"></i></li>
                </ul>
            </div>
        </nav>
    </header>

    <form action="" class="form-login">

        <div class="content_form">
            <h2 class="login-title">Iniciar Sesión</h2>
            <br>
            <p>*Estos campos son obligatorios</p>
            <br>
            <label for="comprador">*Email/ Nombre de Usuario</label><br>
            <input type="text" class="input-login" name="email" placeholder="Ingrese su email o usuario" required>
            
            <br>
            <br>
            <br>
            <br>

            <label for="comprador">*Contraseña</label><br>
            <input type="password" class="input-login" name="contraseña" placeholder="Contraseña" required><br><br>
            <button class="login-cuenta">Crear cuenta</button>
        </div>
    </form>

    <footer class="content-footer">
        <div class="informacion">
            <div class="info-content">
                <i class="fas fa-credit-card icon-footer"></i>
                <p> <strong>Pagá con tarjeta o en efectivo</strong>  <br>
                    Con Mercado Liebre Cash, tenés cuotas sin
                     interés con tarjeta o efectivo en puntos de 
                     pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="info-content">
                <i class="fas fa-gift icon-footer"></i>
                <p> <strong>Envío gratis desde $ 2.500</strong>  <br>
                    Solo por estar registrad@ en Mercado Liebre
                    tenés envíos gratis en miles de productos. Es 
                    un beneficio de Mercado Puntos.</p>
            </div>
            <div class="info-content">
                <i class="fas fa-user-shield icon-footer"></i>
                <p> <strong>Seguridad, de principio a fin</strong> <br>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, 
                     no hay nada que no puedas hacer,porque 
                     estás siempre protegid@.</p>
            </div>
        </div>

        <p class="info-content copy"> <strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
    </footer>
</body>
</html>